<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Random Word Generator</title>
    <style>
      .word-box {
        border: 2px solid black;
        width: 200px;
        height: 50px;
        font-size: 2em;
      }
    </style>
  </head>
  <body>
    <p>Random Word (attemp # {{request.session.count}})</p>
    <div class="word-box">
      {{request.session.word}}
    </div>
    <form action="/generate_word" method="POST">{%csrf_token%}
      <button type="submit">Generate</button>
    </form>
    <form action="/reset" method="POST">{%csrf_token%}
      <button type="submit">RESET</button>
    </form>
  </body>
</html>
