<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <table>
      <tr>
        <th>User #</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Full Name</th>
        <th>Full Name in upper case</th>
        <th>Length of full name</th>
      </tr>

      {% for i in range(0, 4)%}
        <tr>
          <td>{{i}}</td>
          <td>{{users[i]['first_name']}}</td>
          <td>{{users[i]['last_name']}}</td>
          <td>{{users[i]['first_name']}} {{users[i]['last_name']}}</td>
          <td>{{(users[i]['first_name']).upper()}} {{(users[i]['last_name']).upper()}}</td>
          <td>{{(users[i]['first_name']+users[i]['last_name'])|length}}</td>
        </tr>
      {%endfor%}

    </table>
  </body>
</html>
